body {
  background: #f2f2f2;
  font-family: "Inter", sans-serif;
}

.detail-wrapper {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.detail-card {
  background: #fff;
  border-radius: 28px;
  display: flex;
  max-width: 950px;
  width: 100%;
  padding: 30px;
  gap: 30px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.15);
}

/* LEFT */
.detail-img {
  flex: 1;
  text-align: center;
}

.detail-img img {
  max-width: 100%;
  height: 320px;
  object-fit: contain;
}



/* RIGHT */
.detail-info {
  flex: 1;
}

.detail-info h2 {
  font-weight: 700;
}

.desc-title {
  font-size: 12px;
  margin-top: 15px;
}

.desc-lines span {
  display: block;
  height: 2px;
  background: #e5e7eb;
  margin-bottom: 6px;
  width: 100%;
}



.buy-box {
  margin-top: 25px;
}

.price {
  display: block;
  font-size: 22px;
  font-weight: 700;
  color: #111827;
  margin-bottom: 15px;
}


.buy-row {
  display: flex;
  gap: 20px;      
}


.buy-btn {
  background: #2563eb;
  color: #fff;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}

.cart-btn {
  background: #f97316;
  color: #fff;
  border: none;
  padding: 10px 26px;
  border-radius: 20px;
  font-weight: 600;
  cursor: pointer;
}





/* Tablet  respones */
@media (max-width: 992px) {
  .detail-card {
    flex-direction: column;
    padding: 25px;
  }

  .detail-img img {
    height: 280px;
  }

  .detail-info h2 {
    font-size: 22px;
  }
}

/* Mobile */
@media (max-width: 576px) {
  .detail-wrapper {
    padding: 15px;
  }

  .detail-card {
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
  }

  .detail-img img {
    height: 220px;
  }

  .price {
    font-size: 20px;
    text-align: center;
  }

  .buy-row {
    flex-direction: column;   
    gap: 12px;
  }

  .buy-btn,
  .cart-btn {
    width: 100%;             
    border-radius: 14px;
  }

  .detail-info h2 {
    text-align: center;
  }

  .desc-title {
    text-align: center;
  }
}

